<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('assets', path='/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('assets', path='/img/favicon.png') }}">

  <!-- ########## 페이지별 Head ######### -->
  <title>{% block title %}KINS URL Checker{% endblock %}</title>
  {% block page_styles %}{% endblock %}
  <!-- ################################ -->

  <!-- ######### 공통 CSS 파일 ######### -->
  <!-- 폰트 및 아이콘 -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
  <!-- Nucleo 아이콘 -->
  <link href="{{ url_for('assets', path='/css/nucleo-icons.css') }}" rel="stylesheet" />
  <link href="{{ url_for('assets', path='/css/nucleo-svg.css') }}" rel="stylesheet" />
  <!-- Material 아이콘 -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Material Dashboard CSS -->
  <link id="pagestyle" href="{{ url_for('assets', path='/css/material-dashboard.css?v=3.2.0') }}" rel="stylesheet" data-sourcemap="false" />

  <!-- ######### 공통 JS 파일 ######### -->
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Font Awesome 아이콘 -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- 코어 -->
  <script src="{{ url_for('assets', path='/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('assets', path='/js/core/bootstrap.min.js') }}" data-sourcemap="false"></script>
  <!-- 플러그인 -->
  <script src="{{ url_for('assets', path='/js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('assets', path='/js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('assets', path='/js/plugins/chartjs.min.js') }}"></script>
  <!-- Github 버튼 -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Material Dashboard 컨트롤 센터: 패럴랙스 효과, 예제 페이지용 스크립트 등 -->
  <script src="{{ url_for('assets', path='/js/material-dashboard.min.js?v=3.2.0') }}" data-sourcemap="false"></script>

  <!-- ########## 페이지별 스크립트 ######### -->
  {% block page_scripts %}{% endblock %}
</head>

<body class="bg-gray-200">

  <main class="main-content mt-0">
    <!-- ########## 페이지별 콘텐츠 ######### -->
    {% block content %}
      <p>콘텐츠 로딩 중...</p>
    {% endblock %}
    <!-- ################################################### -->
  </main>

  <!-- ################################################## -->

</body>

</html>